<div class="row justify-content-center">
  <div class="row col-10 align-items-start" style="min-height: 800px">
    <div class="col-12 col-lg-3 row align-content-center" style="min-height: 800px">
      <div class="navbar navbar-light col-12 row h4 d-flex align-content-center">
        <ul class="col navbar-nav flex-column text-center">
          <li class="nav-item">
            <a class="nav-link p-4 fs-3" routerLink="/user-panel/order-history" routerLinkActive="active">Zamówienia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link p-4 fs-3" routerLink="/user-panel/repair-bike" routerLinkActive="active">Napraw rower</a>
          </li>
          <li class="nav-item">
            <a class="nav-link p-4 fs-3" routerLink="/user-panel/setting" routerLinkActive="active">Ustawienia konta</a>
          </li>
          <li class="nav-item" *ngIf="userService.getRole() == 'ADMIN'">
            <a class="nav-link p-4 fs-3" routerLink="/user-panel/employee-management" routerLinkActive="active">Zarządzaj
              pracownikami</a>
          </li>
          <li class="nav-item" *ngIf="userService.getRole() == 'ADMIN' || userService.getRole() =='EMPLOYEE'">
            <a class="nav-link p-4 fs-3" routerLink="/user-panel/offer-management" routerLinkActive="active">Zarządzaj
              ofertami</a>
          </li>
          <li class="nav-item" *ngIf="userService.getRole() == 'ADMIN' || userService.getRole() =='EMPLOYEE'">
            <a class="nav-link p-4 fs-3" routerLink="/user-panel/client-management" routerLinkActive="active">Zarządzaj
              klientami</a>
          </li>
          <li class="nav-item" *ngIf="userService.getRole() == 'ADMIN' || userService.getRole() =='EMPLOYEE'">
            <a class="nav-link p-4 fs-3" routerLink="/user-panel/statistic-management" routerLinkActive="active">Statystyki</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-9">
      <nav style="margin-top: 25px">Historia twoich zamówień</nav>
      <div style="margin-top: 50px;" class="h4">
        <table class="table">
          <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Zamówienie</th>
            <th scope="col">Data rozpoczęcia</th>
            <th scope="col">Data zakończenia</th>
            <th scope="col">Cena</th>
            <th scope="col">Pokaż kod qr</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let order of myHistory.orderHistoryList; index as i">
            <th scope="row">{{i + 1}}</th>
            <td>{{order.name}}</td>
            <td>{{order.beginDate | date: 'dd/MM/yyyy hh:mm'}}</td>
            <td>{{order.endDate | date: 'dd/MM/yyyy hh:mm'}}</td>
            <td>{{order.price}} {{order.currency}}</td>
            <td (click)="open(i, myHistoryAlbums)" class="link-secondary" style="cursor: pointer">
              Pokaż kod
            </td>
          </tr>
          </tbody>
        </table>
        <div class="mt-5">
          <app-paging [CURRENT_PAGE]="currentMyHistoryPage" [MAX_PAGINATION]="myHistory.maxPages"
                      (currentPageEmitter)="clickOnMyHistoryPage($event)"></app-paging>
        </div>
      </div>
      <div *ngIf="userService.isAdmin()">
        <div class="d-flex col-12 h5 mt-2">
          <div class="ng-autocomplete">
            <ng-autocomplete
              [data]="detailClientResponses"
              [searchKeyword]="keyword"
              placeholder="Wyszukaj klienta"
              [itemTemplate]="itemTemplate"
              [notFoundTemplate]="notFoundTemplate"
              (selected)='search($event)'>
            </ng-autocomplete>

            <ng-template #itemTemplate let-item>
              <div class="item p-3">
                <span>{{item.firstName}} {{item.lastName}}</span> &nbsp;|
                <small>{{item.email}}</small>
              </div>
            </ng-template>

            <ng-template #notFoundTemplate let-notFound>
              <div [innerHTML]="notFound"></div>
            </ng-template>
          </div>
        </div>

        <nav style="margin-top: 25px">Historia zamówień innych osób</nav>
        <div style="margin-top: 50px;" class="h4" *ngIf="otherHistory.orderHistoryList.length>0">
          <table class="table">
            <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Zamówienie</th>
              <th scope="col">Data rozpoczęcia</th>
              <th scope="col">Data zakończenia</th>
              <th scope="col">Cena</th>
              <th scope="col">Pokaż kod qr</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let order of otherHistory.orderHistoryList; index as i">
              <th scope="row">{{i + 1}}</th>
              <td>{{order.name}}</td>
              <td>{{order.beginDate | date: 'dd/MM/yyyy hh:mm'}}</td>
              <td>{{order.endDate | date: 'dd/MM/yyyy hh:mm'}}</td>
              <td>{{order.price}} {{order.currency}}</td>
              <td (click)="open(i, myHistoryAlbums)" class="link-secondary" style="cursor: pointer">
                Pokaż kod
              </td>
            </tr>
            </tbody>
          </table>
          <div class="mt-5">
            <app-paging [CURRENT_PAGE]="currentOtherHistoryPage" [MAX_PAGINATION]="otherHistory.maxPages"
                        (currentPageEmitter)="clickOnOtherHistoryPage($event)"></app-paging>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
