<div class="container-fluid">
  <div class="row justify-content-center align-content-center" style="min-height: 100vmin">
    <div class="row col-12 h-100 justify-content-center align-content-center">
      <div class="col-12 col-lg-6 justify-content-center align-content-center">

        <form class="row h-100 align-content-center">
          <div class="row pb-3 h-100 align-content-center justify-content-center">
            <div class="row justify-content-around align-content-center" style="min-height: 15vmin">
              <strong class="h2 fw-bold pb-3 myHeader text-center text-uppercase">Zaloguj się</strong>
              <i class="fa fa-bicycle text-center" aria-hidden="true"></i>
              <div class="line"></div>
            </div>
            <div class="row justify-content-center">
              <div class="row col-6">
                <div class="row mb-3">
                  <input class="form-control" type="text" placeholder="login"/>
                </div>
                <div class="row mb-3">
                  <input class="form-control" type="password" placeholder="password"/>
                </div>
                <div class="row justify-content-end">
                  <div class="row justify-content-end">
                    <span class="col-12 col-lg-6 col-md-7 btn h5">Zapomniałeś hasła?</span>
                    <button class="col-12 col-lg-4 col-md-5 btn btn-primary" type="submit">Zaloguj się</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>

      </div>
      <div class=" col-12 col-lg-6">
        <div class="row">
          <div class="col">
            <div class="img-wrapper h-100">
              <img src="../../../../../assets/photo13.png" class="row w-100">
              <div class="img-overlay h-100 row justify-content-around align-items-center">
                <div class="d-flex flex-column text-center bg-opacity-75 bg-dark">
                  <strong class="d-block text-white">Nie masz konta?</strong>
                  <div class="row justify-content-center">
                    <div class="row justify-content-center col-3">
                      <button routerLink="/register" class="btn btn-danger p-4">Załóż konto</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
