<div class="row justify-content-center align-content-center">
  <div class="row col-10">
    <div class="col-12 col-lg-6 justify-content-center">
      <img class="row img-fluid" style="min-width: 75%" [src]="bikeDetail?.safeUrl">
    </div>
    <div class="col-12 col-lg-6">
      <strong style="font-size: medium">{{bikeDetail?.name}}</strong>
      <div class="row">
        <div class="row align-content-center col-4" style="width: fit-content">
          <ngx-stars class="col-2" [color]="'#F6BE00'" [readonly]="!canGrade" [size]="0.5"
                     [maxStars]="5"
                     [initialStars]="bikeDetail.rating"
                     (ratingOutput)="onRatingSet($event)"></ngx-stars>
        </div>
        <div class="row align-content-center col">
          <span *ngIf="bikeDetail.ratingNumber!==undefined"
                class="h4 mt-4">({{bikeDetail.ratingNumber}} {{getCorrectGradeInPolishForm(bikeDetail!.ratingNumber)}}
            )</span>
        </div>
      </div>
      <div class="row">
        <span class="h2" *ngIf="bikeDetail?.bikeType">Oferta {{bikeDetail.bikeType}}</span>
      </div>
      <div class="w-100" *ngIf="userService.isLoggedIn()">
        <div class="row">
          <div class="form-group">
            <label style="font-size: medium" for="frame_filter">Rozmiar ramy</label>
            <select id="frame_filter" class="form-select col-8" aria-label="Default select example"
                    [(ngModel)]="selectedFrameOption" (ngModelChange)="onFrameChange($event)">
              <option *ngFor="let frame of bikeDetail?.frames" value="{{frame}}">{{frame}}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-8" style="font-size: medium">
            <label>Data wypożyczenia</label>
            <input class="form-control" placeholder="Wybierz datę"
                   [ngxDatePicker]="dateInstanceSingle"
                   (valueChange)="onChangeDate($event)">
            <ngx-date-picker #dateInstanceSingle [options]="options"></ngx-date-picker>
          </div>
        </div>
        <div class="row" *ngIf="chosenDate">
          <div class="form-group col-12" style="font-size: medium">
            <label for="time_filter">Ilość czasu</label>
            <select id="time_filter" class="form-select col-8" [(ngModel)]="selectedTimeOption"
                    (change)="fillBeginHours()">
              <option value="">-</option>
              <option *ngFor="let price of bikeDetail?.timePriceDtoList" value="{{price.time}}">{{price.time}}</option>
            </select>
          </div>
          <div class="form-check ms-3" style="font-size: medium">
            <input class="form-check-input" type="checkbox" id="flexCheckDefault" [ngModel]="withBikeTripCheckbox"
                   (click)="changeTripState()">
            <label class="form-check-label" for="flexCheckDefault">
              Wycieczka z przewodnikiem
            </label>
          </div>
          <div
            *ngIf="(selectedTimeOption != '' && selectedTimeOption != '-')&&(bikeDetail.bikeOfferType=='Classic' ||bikeDetail.bikeOfferType=='Electric') "
            class="form-group col-12" style="font-size: medium">
            <label for="begin_hour_filter">Godzina rozpoczęcia</label>
            <select
              id="begin_hour_filter" class="form-select col-8" [(ngModel)]="selectedHourBeginTripOption">
              <option value="">-</option>
              <option *ngFor="let productTime of productTimeDetails?.availableHours"
                      value="{{productTime}}">{{productTime}}</option>
            </select>
          </div>
          <div class="form-check ms-3" style="font-size: medium" *ngIf="selectedTimeOption!='-'">
            <input class="form-check-input" type="checkbox" id="flexCheckDefault2" [ngModel]="withAccessoryCheckbox"
                   (click)="changeAccessoryState()">
            <label class="form-check-label" for="flexCheckDefault2">
              Dodaj akcesoria
            </label>
          </div>
          <div *ngIf="withAccessoryCheckbox "
               class="form-group col-12" style="font-size: medium">
            <label for="accessory_filter4">Wybierz akcesoria</label>
            <select (change)="selectAccessory()"
                    id="accessory_filter4" class="form-select col-8" [(ngModel)]="selectedAccessoryOption">
              <option *ngFor="let accessoryInOrder of accessoriesInOrder"
                      [ngValue]="accessoryInOrder">{{accessoryInOrder.productName}}</option>
            </select>
          </div>

          <strong *ngIf="selectedTimeOption != '-' && selectedTimeOption && productTimeDetails.availableHours.length>0"
                  style="font-size: xx-large">{{getPrice() | number:'1.2-2'}} PLN</strong>
          <button *ngIf="selectedTimeOption != '-' && selectedTimeOption && selectedHourBeginTripOption != '-' &&
                  selectedHourBeginTripOption && productTimeDetails.availableHours.length>0"
                  class="btn btn-primary h5 p-3 col-3 mt-3">Zamów
          </button>
        </div>
      </div>


    </div>
  </div>

</div>
