<div class="row justify-content-center align-items-center bg-light">
  <form class="row h-100 align-content-center" (ngSubmit)="submit()">
    <div class="row pb-3 h-100 align-content-center justify-content-center">
      <div class="row justify-content-around align-content-center" style="min-height: 15vmin">
        <strong class="h2 fw-bold pb-3 myHeader text-center text-uppercase">Zmień hasło teraz</strong>
        <i class="fa fa-bicycle text-center" aria-hidden="true"></i>
        <div class="line"></div>
      </div>
      <div class="row justify-content-center col-lg-6 col-12">
        <form class="row col-6"  [formGroup]="passwordChangerFormGroup" (ngSubmit)="submit()">
          <div class="row mb-3">
            <input [(ngModel)]="passwordChangerRequest.password" [ngClass]="{activeRedBorder: hasError('password')}" formControlName="password" class="form-control" name="password" type="password" placeholder="password"/>
            <div *ngIf="passwordChangerFormGroup.controls['password']?.touched" class="row">
              <small  class="text-danger h5" *ngIf="checkError('password', 'required')">Pole nie może być puste</small>
              <small  class="text-danger h5" *ngIf="checkError('password', 'minlength')">Pole powinno zawierać przynajmniej 8 znaków</small>
              <small  class="text-danger h5" *ngIf="checkError('password', 'passwordStrength')">Pole powinno zawierać przynajmniej jedą cyfrę, jedną małą literę i jedną dużą literę</small>
            </div>
          </div>
          <div class="row mb-3">
            <input class="form-control" name="password" type="password" formControlName="repeatPassword" placeholder="repeat password"/>
            <div *ngIf="passwordChangerFormGroup.controls['repeatPassword']?.touched" class="row">
              <small  class="text-danger h5" *ngIf="checkError('repeatPassword', 'required')">Pole nie może być puste</small>
              <small  class="text-danger h5" *ngIf="checkError('repeatPassword', 'passwordNotSame')">Hasła są różne</small>

            </div>
          </div>
          <div class="row justify-content-end">
            <div class="row justify-content-end">
              <button class="col-5 col-lg-4 col-md-5 btn btn-primary" type="submit">Zmień hasło</button>
            </div>
          </div>
          <div class="row" *ngIf="isErrorActive">
            <small class="text-danger h5">
              {{errorMsg}}
            </small>
          </div>
        </form>

      </div>
    </div>
  </form>
</div>
