<div class="row justify-content-center align-items-center bg-light">
  <form class="row h-100 align-content-center" (ngSubmit)="submit()">
    <div class="row pb-3 h-100 align-content-center justify-content-center">
      <div class="row justify-content-around align-content-center" style="min-height: 15vmin">
        <strong class="h2 fw-bold pb-3 myHeader text-center text-uppercase">Zmień hasło teraz</strong>
        <i class="fa fa-bicycle text-center" aria-hidden="true"></i>
        <div class="line"></div>
      </div>
      <div class="row justify-content-center col-lg-6 col-12">
        <div class="row col-6">
          <div class="row mb-3">
            <input [(ngModel)]="passwordChangerRequest.password" class="form-control" name="password" type="password" placeholder="password"/>
          </div>
          <div class="row mb-3">
            <input class="form-control" name="password" type="password" placeholder="repeat password"/>
          </div>
          <div class="row justify-content-end">
            <div class="row justify-content-end">
              <button class="col-5 col-lg-4 col-md-5 btn btn-primary" type="submit">Zmień hasło</button>
            </div>
          </div>
          <div class="row" *ngIf="isErrorActive">
            <small class="text-danger h5">
              {{errorMsg}}
            </small>
          </div>
        </div>

      </div>
    </div>
  </form>
</div>
