<div class="clip-me">
  <div class="img-wrapper bg-light">
    <img src="assets/photo.png">
    <div class="img-overlay justify-content-around align-items-center">
      <div class="row h-100">
        <div class="text-center my-nav">
          <span class="col-12 fs-1 text-white text-center bg-dark bg-opacity-25">Wypożyczalnia rowerów NxBike</span>
        </div>
        <div class="row w-75 mx-auto justify-content-around align-items-center">
          <div class="col-12 col-md-6 col-lg-3 row justify-content-around align-items-center">
            <div class="bg-primary flip-card">
              <div class="flip-card-inner row h-100 justify-content-around align-items-center">
                <div class="flip-card-front row h-100 justify-content-around align-items-center">
                  <span class="row col-12 circle d-block"><i class="fa fa-bicycle text-white"
                                                             aria-hidden="true"></i></span>
                  <span class="col-12 card-description">Wypożycz rower</span>
                </div>
                <div class="flip-card-back row justify-content-around align-items-center">
                  <p>Wybierasz się w góry?</p>
                  <p>Wypożycz rower przed wejściem do oddziału w Górach Świętokrzyskich</p>
                </div>
              </div>

            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3 row justify-content-around align-items-center">
            <div class="bg-primary flip-card">
              <div class="flip-card-inner row h-100 justify-content-around align-items-center">
                <div class="flip-card-front row h-100 justify-content-around align-items-center">
                  <span class="row col-12 circle d-block"><i class="fa fa-stop-circle text-white"
                                                             aria-hidden="true"></i></span>
                  <span class="col-12 card-description">Zaparkuj przy oddziale w Górach Świętokrzyskich</span>
                </div>
                <div class="flip-card-back row justify-content-around align-items-center">
                  <p>Zaparkuj rower (posiadamy stojaki dla naszych klientów)</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3 row justify-content-around align-items-center">
            <div class="bg-primary flip-card">
              <div class="flip-card-inner row h-100 justify-content-around align-items-center">
                <div class="flip-card-front row h-100 justify-content-around align-items-center">
                 <span class="row col-12 circle d-block"><i class="fa fa-arrow-up text-white"
                                                            aria-hidden="true"></i></span>
                  <span class="col-12 card-description">Idź w góry</span>
                </div>
                <div class="flip-card-back row justify-content-around align-items-center">
                  <p>Zaoszczędź czas przy przeprawie rowerem. Dotrzyj na szczyt znacznie szybciej</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3 row justify-content-around align-items-center">
            <div class="bg-primary flip-card">
              <div class="flip-card-inner row h-100 justify-content-around align-items-center">
                <div class="flip-card-front row h-100 justify-content-around align-items-center">
                  <span class="row col-12 circle d-block"><i class="fa fa-arrow-down text-white"
                                                           aria-hidden="true"></i></span>
                  <span class="col-12 card-description">Zjedź na dół</span>
                </div>
                <div class="flip-card-back row justify-content-around align-items-center">
                  <p>Szybszy powrót do domu? Z nami to możliwe zjedź na dół zaparkowanym wcześniej rowerem</p>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>

  </div>
</div>



