<div class="clip-me">
  <div class="img-wrapper">
    <img class="scrollable" src="assets/photo11.png">
    <div class="img-overlay h-100 row justify-content-around align-items-center">
      <div class="row h-50">
        <span class="scrollable col-12 text-white text-center first-nav">Z nami jeszcze szybciej</span>
        <span class="scrollable col-12 text-primary text-center fw-bold second-nav">NA SZLAKU W TATRACH</span>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-center align-items-center" style="min-height: 800px; margin-top: 50px">
  <div class="row col-10">
    <div class="col-12 col-lg-6">
      <strong class="d-block">Wypożyczalnia</strong>
      <strong class="d-block"><span class="text-primary">Nx</span>Bike</strong>
      <div class="row justify-content-center mt-5">
        <img src="assets/photo12.png" class="img-fluid col">
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <strong class="d-block text-primary text-uppercase">Kilka słów o nas</strong>
      <div class="text-justify me-3" style="margin-top: 100px">
        <p class="h3">Wypożyczalnia rowerów powstała w 2022 roku kierując się pasją do rowerów. Początkowo
          spotykaliśmy się z ludźmi w drobnych grupach przejeżdżając wspólnie dziesiątki kilometrów. Z czasem wycieczki
          było nie tylko w naszej okolicy, ale też wielokilometrowe. Pewnego dnia postanowiliśmy wyjść naprzeciw oczekiwaniom
          naszej społeczności i otworzyliśmy wypożyczalnie w naszym regionie.</p>
        <p class="h3">Każdy turysta może skorzystać z rozbudowanej ilości dróg i ścieżek rowerowych. Stąd idąc naprzeciw
          naszym klientom dostarczamy najwyższej jakości rowery, które pomogą spędzić czas w miłej i bezpiecznej atmosferze.
          W naszej wypożyczalni znajdziecie Pańswo fachową pomoc ze strony naszej obsługi poprzez indywidualne traktowanie.
        </p>
        <p class="h3">Nasza wypożyczalnia jako jedyna w naszej okolicy oferuje swoim klientom darmowe miejsca parkingowe!
          Oferujemy ponadto dowóz sprzętu do klienta!
        </p>
        <p class="h3">Ruch na świeżym powietrzu jest potrzebny każdemu. Wprawia nas w dobry nastrój oraz poprawia formę
          fizyczną. Pozwala również walczyć ze stresem oraz jest często dobrym sposobem na spędzeniu czasu z rodziną i
          przyjaciółmi. Jazda na rowerze może przyczynić się do odkrycia miejsc wcześniej przez nas nieznanych i umożliwia
          zachwycić się ponownie pięknem natury.
        </p>
      </div>
    </div>
  </div>
</div>
