.clip-me {
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
}

.img-wrapper {
  position: relative;
  max-height: 500px;
}

.img-wrapper img {
  width: 100%;
  transform: translateY(-25%);
}


.img-overlay {
  width: 100%;
  position: absolute;
  top: 0;
}

.second-nav {
  font-size: 7vmin;
  font-family: "Liberation Sans Narrow";
}
