<div class="clip-me">
  <div class="img-wrapper">
    <img class="scrollable" [src]="background">
    <div class="img-overlay h-100 row justify-content-around align-items-center">
      <div class="row h-50">
        <span class="scrollable col-12 text-white text-center first-nav">MASZ JAKIEŚ PYTANIA?</span>
        <span class="scrollable col-12 text-primary text-center fw-bold second-nav">SKONTAKTUJ SIĘ Z NAMI</span>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-center justify-content-around" style="min-height: 100vmin">
  <div class="w-50 row">
    <app-main-products-price-content></app-main-products-price-content>
  </div>
</div>
<app-time-section></app-time-section>

