<nav class="navbar bg-primary navbar-light">
  <div class="d-flex justify-content-center">
    <div class="text-white ms-2 fs-4 me-3">
      <span class="glyphicon glyphicon-phone-alt me-2"></span>
      <span>123456778</span>
    </div>
    <div class="text-white ms-2 fs-4">
      <span class="glyphicon glyphicon-phone-alt me-2"></span>
      <span>123456778</span>
    </div>
  </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top">
  <button class="navbar-toggler btn btn-outline-primary ms-auto" type="button" data-toggle="collapse"
          data-target="#navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation"
          (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarTogglerDemo02">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed">
    <div class="mx-auto logo" routerLink="/" routerLinkActive="active"><span class="text-primary">Nx</span>Bike</div>
    <ul class="navbar-nav me-auto mt-2 mt-lg-0 text-center">
      <li class="nav-item">
        <a class="nav-link p-4 fs-3" routerLink="/about" routerLinkActive="active">O nas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link p-4 fs-3" routerLink="/offer" routerLinkActive="active">Oferta</a>
      </li>
      <li class="nav-item">
        <a class="nav-link p-4 fs-3" routerLink="/prices" routerLinkActive="active">Cennik</a>
      </li>
      <li class="nav-item">
        <a class="nav-link p-4 fs-3" routerLink="/rules" routerLinkActive="active">Regulamin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link p-4 fs-3" routerLink="/contact" routerLinkActive="active">Kontakt</a>
      </li>
    </ul>
    <ul class="navbar-nav ms-auto text-center">
      <li class="nav-item">
        <a class="nav-link p-4 fs-5" routerLink="/login" routerLinkActive="active">Zaloguj się</a>
      </li>
      <li class="nav-item">
        <a class="nav-link p-4 fs-5" routerLink="/register" href="#">Zarejestruj się</a>
      </li>
    </ul>
  </div>
</nav>
