<div class="clip-me">
  <div class="img-wrapper bg-light">
    <img class="scrollable" [src]="background">
    <div class="img-overlay h-100 row justify-content-around align-items-center">
      <div class="row h-50">
        <span class="scrollable col-12 text-white text-center first-nav">ZANIM ZACZNIESZ PRZYGODĘ</span>
        <span class="scrollable col-12 text-primary text-center fw-bold second-nav">KONIECZNIE PRZECZYTAJ NASZ REGULAMIN</span>
      </div>
    </div>
  </div>
</div>
<div class="mt-3 row justify-content-center align-content-center">
  <div class="col-12 col-md-7 d-flex flex-column">
    <strong class="my-second-blue h2 p-3">REGULAMIN WYPOŻYCZALNI</strong>
    <strong class="h4 p-3 fw-bold">Wypożyczający zobowiązuje się do:</strong>
    <ol class="h4" style="line-height: 2.5em">
      <li class="mx-3">Korzystania z roweru oraz jego wyposażenia zgodnie z przeznaczeniem. Zabrania się użytkowania rowerów w nieodpowiedni sposób.</li>
      <li class="mx-3">Okazać dokument do wpisania w kartę wypożyczalni.</li>
      <li class="mx-3">Pokrycia ewentualnych kosztów naprawy uszkodzonego roweru lub jego wyposażenia.</li>
    </ol>
    <strong class="h4 p-3 fw-bold">Aby wypożyczyć rower, należy spełniać następujące warunki:</strong>
    <ol class="h4 pb-5" style="line-height: 1.5em">
      <li class="mx-3">Przedstawić dokument tożsamości ze zdjęciem (dowód osobisty, paszport lub prawo jazdy), z którego pracownik wypożyczalni spisze dane do karty wypożyczalni;</li>
      <li class="mx-3">Złożyć czytelny podpis na karcie wypożyczenia roweru i oświadczeniu o zapoznaniu się z niniejszym regulaminem, zaakceptowaniu jego treści oraz przyjęciu roweru sprawnego technicznie;</li>
      <li class="mx-3">Być osobą pełnoletnią i trzeźwą;</li>
      <li class="mx-3">Opłatę za wypożyczenie roweru pobiera się z góry lub po zwrocie wypożyczonego roweru, w/g cennika.</li>
      <li class="mx-3">Być osobą pełnoletnią i trzeźwą;</li>
      <li class="mx-3">Przyjmujemy płatności gotówką.</li>
      <li class="mx-3">W przypadku utraty wypożyczonego roweru lub jego wyposażenia na skutek kradzieży lub zgubienia wypożyczający jest zobowiązany do zwrotu równowartości kosztów odpowiadających wartości roweru lub jego wyposażenia + koszty wypożyczenia określone w cenniku.</li>
      <li class="mx-3">Pracownik wypożyczalni ma prawo odmówić wypożyczenia roweru bez podania przyczyny.</li>
      <li class="mx-3">Gdy rower ulegnie uszkodzeniu, zepsuciu lub zostanie ukradziony wypożyczający poniesie koszty szkody i napraw.</li>
      <li class="mx-3">Wypożyczający rower zrzeka się wszelkich roszczeń wobec wypożyczalni z tytułu wypadków, poniesionych szkód lub obrażeń powstałych w trakcie korzystania z wypożyczonego roweru.</li>
      <li class="mx-3">Za wady ukryte w częściach rowerowych (materiałach) wypożyczalnia nie ponosi odpowiedzialności.</li>
      <li class="mx-3">Oddając rower po zamknięciu, klient zobowiązany jest opłacić dodatkową stawkę godzinową, wpisaną na karcie wypożyczalni w momencie wypożyczenia sprzętu.</li>
    </ol>
  </div>


</div>
