<div class="row justify-content-around align-content-center mb-3" style="min-height: 100vmin">
  <div class="row w-75">
    <div class="row justify-content-around align-content-center">
      <div class="col-12 col-lg-6">

        <form [formGroup]="registerFormGroup" (ngSubmit)="submit()">
          <div class="card m-3 p-3">
            <div class="row justify-content-around align-content-center" style="min-height: 30vmin">
              <strong class="h2 fw-bold pb-3 myHeader text-center">Formularz do rejestracji</strong>
              <div class="line"></div>
            </div>
            <div class="row mb-3">
              <div class="col-6">
                <input class="form-control" name="firstName" type="text" placeholder="Imię" formControlName="firstName"
                       [ngClass]="{activeRedBorder: hasError('firstName')}"/>
                <div *ngIf="registerFormGroup.controls['firstName']?.touched" class="row">
                  <small class="text-danger h5" *ngIf="checkError('firstName', 'required')">Pole nie może być
                    puste</small>
                  <small class="text-danger h5" *ngIf="checkError('firstName', 'minlength')">Pole powinno zawierać
                    minimum 3 znaki</small>
                  <small class="text-danger h5" *ngIf="checkError('firstName', 'maxlength')">Pole powinno zawierać
                    maximum 100 znaków</small>
                </div>
              </div>
              <div class="col-6">
                <input class="form-control" name="lastName" type="text" placeholder="Nazwisko" formControlName="lastName"
                       [ngClass]="{activeRedBorder: hasError('lastName')}"/>
                <div *ngIf="registerFormGroup.controls['lastName']?.touched" class="row">
                  <small class="text-danger h5" *ngIf="checkError('lastName', 'required')">Pole nie może być
                    puste</small>
                  <small class="text-danger h5" *ngIf="checkError('lastName', 'minlength')">Pole powinno zawierać
                    minimum 3 znaki</small>
                  <small class="text-danger h5" *ngIf="checkError('lastName', 'maxlength')">Pole powinno zawierać
                    maximum 100 znaków</small>
                </div>
              </div>

            </div>
            <div class="row mb-3">
              <div class="col-6">
                <input class="form-control" name="email" type="email" placeholder="Email" formControlName="email"
                       [ngClass]="{activeRedBorder: hasError('email')}"/>
                <div *ngIf="registerFormGroup.controls['email']?.touched" class="row">
                  <small class="text-danger h5" *ngIf="checkError('email', 'required')">Pole nie może być puste</small>
                  <small class="text-danger h5" *ngIf="checkError('email', 'email')">Nieprawidłowa forma maila</small>
                </div>
              </div>
              <div class="col-6">
                <input class="form-control" name="phone" type="text" placeholder="Telefon" formControlName="phone"
                       [ngClass]="{activeRedBorder: hasError('phone')}"/>
                <div *ngIf="registerFormGroup.controls['phone']?.touched" class="row">
                  <small class="text-danger h5" *ngIf="checkError('phone', 'required')">Pole nie może być puste</small>
                  <small class="text-danger h5" *ngIf="checkError('phone', 'minlength')">Pole powinno zawierać 9
                    znaków</small>
                  <small class="text-danger h5" *ngIf="checkError('phone', 'maxlength')">Pole powinno zawierać 9
                    znaków</small>
                  <small class="text-danger h5" *ngIf="checkError('phone', 'pattern')">Pole powinno zawierać
                    cyfry</small>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-6">
                <div class="row">
                  <div class="input-group">
                    <input class="form-control" readonly placeholder="Data urodzenia"
                           name="birthdayDate" [(ngModel)]="birthDay" ngbDatepicker [footerTemplate]="footerTemplate" [maxDate]="today"
                           formControlName="birthdayDate" [ngClass]="{activeRedBorder: hasError('birthdayDate')}"
                           #d="ngbDatepicker" (click)="d.toggle()">
                  </div>
                  <div *ngIf="registerFormGroup.controls['birthdayDate']?.touched" class="row">
                    <small class="text-danger h5" *ngIf="checkError('birthdayDate', 'required')">Pole nie może być puste</small>
                  </div>
                </div>
                <ng-template #footerTemplate>
                  <hr class="my-0">
                  <button class="btn btn-primary btn-sm m-2 float-start" (click)="d.close()">Today
                  </button>
                  <button class="btn btn-secondary btn-sm m-2 float-end" (click)="d.close()">Close</button>
                </ng-template>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-6">
                <input class="form-control" name="street" type="text" placeholder="Ulica" formControlName="street"
                       [ngClass]="{activeRedBorder: hasError('street')}"/>
                <div *ngIf="registerFormGroup.controls['street']?.touched" class="row">
                  <small class="text-danger h5" *ngIf="checkError('street', 'required')">Pole nie może być
                    puste</small>
                  <small class="text-danger h5" *ngIf="checkError('street', 'minlength')">Pole powinno zawierać
                    minimum 3 znaki</small>
                  <small class="text-danger h5" *ngIf="checkError('street', 'maxlength')">Pole powinno zawierać
                    maximum 100 znaków</small>
                </div>
              </div>
              <div class="col-6">
                <input [(ngModel)]="houseNr" [ngModelOptions]="{standalone: true}" name="houseNr" class="form-control" type="text" placeholder="Numer domu"/>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-6">
                <input class="form-control" name="zipCode" type="text" placeholder="Kod pocztowy" formControlName="zipCode"
                       [ngClass]="{activeRedBorder: hasError('zipCode')}"/>
                <div *ngIf="registerFormGroup.controls['zipCode']?.touched" class="row">
                  <small class="text-danger h5" *ngIf="checkError('zipCode', 'required')">Pole nie może być puste</small>
                  <small class="text-danger h5" *ngIf="checkError('zipCode', 'pattern')">Kod powinien mieć postać xx-xxx lub xxxxx i składać się z cyfr</small>

                </div>
              </div>
              <div class="col-6">
                <input class="form-control" name="city" type="text" placeholder="Miasto" formControlName="city"
                       [ngClass]="{activeRedBorder: hasError('city')}"/>
                <div *ngIf="registerFormGroup.controls['city']?.touched" class="row">
                  <small class="text-danger h5" *ngIf="checkError('city', 'required')">Pole nie może być puste</small>
                  <small class="text-danger h5" *ngIf="checkError('city', 'minlength')">Pole powinno zawierać
                    minimum 3 znaki</small>
                  <small class="text-danger h5" *ngIf="checkError('city', 'maxlength')">Pole powinno zawierać
                    maximum 100 znaków</small>
                </div>

              </div>
            </div>



            <div class="row mb-3">
              <div class="col-6">
                <input class="form-control" name="password" type="password" placeholder="Hasło" formControlName="password"
                       [ngClass]="{activeRedBorder: hasError('password')}"/>
                <div *ngIf="registerFormGroup.controls['password']?.touched" class="row">
                  <small class="text-danger h5" *ngIf="checkError('password', 'required')">Pole nie może być
                    puste</small>
                  <small class="text-danger h5" *ngIf="checkError('password', 'minlength')">Pole powinno zawierać
                    przynajmniej 8 znaków</small>
                  <small class="text-danger h5" *ngIf="checkError('password', 'passwordStrength')">Pole powinno zawierać
                    przynajmniej jedą cyfrę, jedną małą literę i jedną dużą literę</small>
                </div>
              </div>
              <div class="col-6">
                <input class="form-control" name="repeatPassword" type="password" placeholder="Powtórz hasło" formControlName="repeatPassword"
                       [ngClass]="{activeRedBorder: hasError('repeatPassword')}"/>
                <div *ngIf="registerFormGroup.controls['repeatPassword']?.touched" class="row">
                  <small class="text-danger h5" *ngIf="checkError('repeatPassword', 'required')">Pole nie może być
                    puste</small>
                  <small class="text-danger h5" *ngIf="checkError('repeatPassword', 'passwordNotSame')">Hasła są
                    różne</small>

                </div>
              </div>
            </div>
            <div class="form-check form-check-inline h5 pb-4 pt-4">
              <input class="form-check-input" type="checkbox" id="term" [checked]="isRulesAcceptedCheckbox"
                     (change)="changeStatusOfRulesCheckbox()">
              <label class="form-check-label" for="term">Zrozumiałem/am i akceptuję <a
                class="text-decoration-none text-black fw-bold" routerLink="/rules">regulamin</a></label>
            </div>

            <div class="row mx-1" style="max-width: 10vmin">
              <button class="btn btn-primary" type="submit">Zarejestruj się</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
