<p class="my-dark-blue large-size fw-bold">CENNIK</p>
<p class="my-second-blue large-size fw-bold">WYPOŻYCZALNI</p>
<p class="my-second-blue large-size fw-bold">ROWERÓW</p>
<div class="text-center">
  <div class="btn text-white p-3" [ngClass]="{'my-dark-bg-blue': isClassicOfferButtonActive, 'my-gray': !isClassicOfferButtonActive}" (click)="changeStateButton()"><i class="fa fa-bicycle text-white me-2"
                                                                                                                                                                       aria-hidden="true"></i>Klasyczne</div>
  <div class="btn text-white p-3" [ngClass]="{'my-gray': isClassicOfferButtonActive, 'my-dark-bg-blue': !isClassicOfferButtonActive}" (click)="changeStateButton()"><i class="fa fa-plug text-white me-2"
                                                                                                                                                                       aria-hidden="true"></i>Elektryczne</div>
</div>
<table class="table table-striped" *ngIf="isClassicOfferButtonActive">
  <thead class="my-dark-bg-blue-not-button text-white">
  <tr>
    <th></th>
    <th class="p-4">RODZAJ</th>
    <th class="p-4">KAŻDA ROZPOCZĘTA GODZINA</th>
    <th class="p-4">DZIEŃ</th>
    <th class="p-4">DOBA</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let mainProduct of generalInfoClassicProducts; index as i">
    <th scope="row">{{i + 1}}</th>
    <td>{{mainProduct.productName}}</td>
    <td class="text-center">{{mainProduct.everyBeginHourPrice}} {{mainProduct.currency}}</td>
    <td class="text-center">{{mainProduct.dayPrice}} {{mainProduct.currency}}</td>
    <td class="text-center">{{mainProduct.dayAndNightPrice}} {{mainProduct.currency}}</td>
  </tr>
  </tbody>
</table>
<table class="table table-striped" *ngIf="!isClassicOfferButtonActive">
  <thead class="my-dark-bg-blue-not-button text-white">
  <tr>
    <th></th>
    <th class="p-4">CZAS</th>
    <th class="p-4">CENA</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let generalInfoElectricProduct of generalInfoElectricProducts; index as i">
    <th scope="row">{{i + 1}}</th>
    <td>{{generalInfoElectricProduct.time}}</td>
    <td>{{generalInfoElectricProduct.price}} {{generalInfoElectricProduct.currency}}</td>
  </tr>
  </tbody>
</table>
<div class="text-center fw-bold display-5">GRATIS:</div>
<div class="container">
  <div class="row justify-content-between">
    <div class="col-11 col-md-5 col-lg-2 me-1">
      <div class="bg-primary row justify-content-center align-content-center">
          <span class="row col-12 circle d-block"><i class="fa fa-stop-circle text-white"
                                                     aria-hidden="true"></i></span>
      </div>
      <p class="h3">Parking</p>
    </div>
    <div class="col-11 col-md-5 col-lg-2 me-1">
      <div class="bg-primary row justify-content-center align-content-center">
          <span class="row col-12 circle d-block"><i class="fa fa-lock text-white"
                                                     aria-hidden="true"></i></span>
      </div>
      <p class="h3">Kłódka</p>
    </div>
    <div class="col-11 col-md-5 col-lg-2 me-1">
      <div class="bg-primary row justify-content-center align-content-center">
          <span class="row col-12 circle d-block"><i class="fa fa-exclamation-triangle text-white"
                                                     aria-hidden="true"></i></span>
      </div>
      <p class="h3">Kask</p>
    </div>
    <div class="col-11 col-md-5 col-lg-2 me-1">
      <div class="bg-primary row justify-content-center align-content-center">
          <span class="row col-12 circle d-block"><i class="fa fa-bicycle text-white"
                                                     aria-hidden="true"></i></span>
      </div>
      <p class="h3">Stojaki</p>
    </div>
  </div>
</div>
