<div class="bg-dark row justify-content-center text-white">
  <div class="row col-12 col-md-9 justify-content-center align-content-center">
    <div class="row justify-content-center" style="padding-top: 30px">
      <div class="text-center fw-bold">NASZE ATUTY</div>
      <div class="line"></div>
    </div>
    <div class="row justify-content-around justify-content-center" style="padding-top: 50px">
      <div class="row justify-content-around justify-content-center col-5 col-lg-2 text-center pt-5 pb-5 my-card">
        <div class="circle row col-12 justify-content-around justify-content-center">
          <i class="d-flex justify-content-center align-content-center fa fa-clock-o text-white" aria-hidden="true"></i>
        </div>
        <div class="h3 col-12 pt-3">Wypożyczalnia rowerów</div>
        <div class="line col-12"></div>
        <div class="h3 col-12 pt-3">Wypożyczamy rowery już od 10 lat</div>
      </div>
      <div class="row justify-content-around justify-content-center col-5 col-lg-2 text-center pt-5 pb-5 my-card">
        <div class="circle row col-12 justify-content-around justify-content-center">
          <i class="d-flex justify-content-center align-content-center fa fa-credit-card text-white" aria-hidden="true"></i>
        </div>
        <div class="h3 col-12 pt-3">Naprawianie rowerów</div>
        <div class="line col-12"></div>
        <div class="h3 col-12 pt-3">Naprawiamy rowery w ciągu dnia</div>
      </div>
      <div class="row justify-content-around justify-content-center col-5 col-lg-2 text-center pt-5 pb-5 my-card">
        <div class="circle row col-12 justify-content-around justify-content-center">
          <i class="d-flex justify-content-center align-content-center fa fa-globe text-white" aria-hidden="true"></i>
        </div>
        <div class="h3 col-12 pt-3">Wycieczki z przewodnikiem</div>
        <div class="line col-12"></div>
        <div class="h3 col-12 pt-3">Klienci mogą wykupić wycieczkę z przewodnikiem każdego dnia</div>
      </div>
      <div class="row justify-content-around justify-content-center col-5 col-lg-2 text-center pt-5 pb-5 my-card">
        <div class="circle row col-12 justify-content-around justify-content-center">
          <i class="d-flex justify-content-center align-content-center fa fa-smile-o text-white" aria-hidden="true"></i>
        </div>
        <div class="h3 col-12 pt-3">Rezerwuj online</div>
        <div class="line col-12"></div>
        <div class="h3 col-12 pt-3">Możesz skorzystać z formy online, by zarezerwować wycieczkę</div>
      </div>
    </div>
    <div class="row justify-content-center" style="padding-top: 30px">

      <div class="d-flex justify-content-end">
        <div (click)="scrollToElement()" class="circle-hover row col-12 justify-content-around justify-content-center">
          <i class="d-flex justify-content-center align-content-center fa fa-angle-up text-white" aria-hidden="true"></i>
        </div>
      </div>
      <div class="text-center fw-bold h1">Wypożycz u nas rower</div>
      <div class="text-center fw-bold h1 small-font p-5">© 2022 NxBike Wszystkie prawa zastrzeżone</div>
    </div>
  </div>
</div>
