<div class="clip-me">
  <div class="img-wrapper">
    <img *ngFor="let image of filterImagesForSectionResponse('background')" class="scrollable"
         [src]="image.imageSafeUrl">
    <div class="img-overlay h-100 row justify-content-around align-items-center">
      <div class="row h-50">
        <span class="scrollable col-12 text-white text-center first-nav">MASZ JAKIEŚ PYTANIA?</span>
        <span class="scrollable col-12 text-primary text-center fw-bold second-nav">SKONTAKTUJ SIĘ Z NAMI</span>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-around align-content-center" style="min-height: 500px">
  <div class="row w-75">
    <div *ngFor="let flipCard of flipCards"
         class="col-12 col-lg-6 col-xl-3 row justify-content-around align-items-center">
      <div class="bg-primary flip-card mb-3">
        <div class="flip-card-inner row h-100 justify-content-around align-items-center">
          <div class="flip-card-front row h-100 justify-content-around align-items-center">
            <i class="{{flipCard.faClass}} text-white" aria-hidden="true"></i>
            <span class="col-12 card-description">{{flipCard.cardFrontDescription}}</span>
          </div>
          <div class="flip-card-back row justify-content-around align-items-center">
            <div style="font-size: medium" [innerHTML]="flipCard.cardBackDescription"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-around align-content-center mb-3">
  <div class="row w-75">
    <div class="col-12 text-center my-dark-blue">
      Jak do nas dojechać?
    </div>
    <div class="row">
      <div class="col-12 col-lg-6" *ngFor="let place of filterImagesForSectionResponse('place'); index as i">
        <img [src]="place.imageSafeUrl" class="w-100" style="height: 300px">
        <p class="text-center">{{displayPlaceName(place.fileName)}}</p>
        <div class="mb-3 mymap" id="map{{i+1}}" style="height: 300px"></div>
      </div>

    </div>
  </div>
</div>
<app-time-section></app-time-section>
<div class="row justify-content-around align-content-center mb-3" style="min-height: 100vmin">
  <div class="row w-75">
    <div class="row justify-content-around align-content-center">
      <div class="col-12 col-lg-6">
        <form [formGroup]="contactFormGroup">
          <div class="card m-3 p-3">
            <div class="row justify-content-around align-content-center" style="min-height: 30vmin">
              <strong class="h2 fw-bold pb-3 myHeader text-center">SKONTAKTUJ SIĘ Z NAMI WYPEŁNIAJĄC FORMULARZ</strong>
              <div class="line"></div>
            </div>
            <div class="row mb-3">
              <input class="form-control" type="subject" placeholder="Temat" formControlName="subject" [ngClass]="{activeRedBorder: hasError('subject')}"/>
              <div *ngIf="contactFormGroup.controls['subject']?.touched" class="row">
                <small class="text-danger h5" *ngIf="checkError('subject', 'required')">Pole nie może być
                  puste</small>
                <small class="text-danger h5" *ngIf="checkError('subject', 'minlength')">Pole powinno zawierać
                  minimum 5 znaków</small>
                <small class="text-danger h5" *ngIf="checkError('subject', 'maxlength')">Pole powinno zawierać
                  maximum 100 znaków</small>
              </div>
            </div>
            <div class="row mb-3">
              <input class="form-control" type="text" placeholder="Imię i nazwisko"
                     formControlName="firstLastName" [ngClass]="{activeRedBorder: hasError('firstLastName')}"/>
              <div *ngIf="contactFormGroup.controls['firstLastName']?.touched" class="row">
                <small class="text-danger h5" *ngIf="checkError('firstLastName', 'required')">Pole nie może być
                  puste</small>
                <small class="text-danger h5" *ngIf="checkError('firstLastName', 'minlength')">Pole powinno zawierać
                  minimum 5 znaków</small>
                <small class="text-danger h5" *ngIf="checkError('firstLastName', 'maxlength')">Pole powinno zawierać
                  maximum 100 znaków</small>
              </div>
            </div>

            <div class="row mb-3">
              <input class="form-control" type="email" placeholder="Email"
                     formControlName="email" [ngClass]="{activeRedBorder: hasError('email')}"/>
              <div *ngIf="contactFormGroup.controls['email']?.touched" class="row">
                <small class="text-danger h5" *ngIf="checkError('email', 'required')">Pole nie może być puste</small>
                <small class="text-danger h5" *ngIf="checkError('email', 'email')">Nieprawidłowa forma maila</small>
              </div>
            </div>

            <div class="row mb-3">
              <textarea class="form-control" id="message" type="text"
                        placeholder="Message" rows="10" formControlName="message"
                        [ngClass]="{activeRedBorder: hasError('message')}"></textarea>
              <div *ngIf="contactFormGroup.controls['message']?.touched" class="row">
                <small class="text-danger h5" *ngIf="checkError('message', 'required')">Pole nie może być puste</small>
                <small class="text-danger h5" *ngIf="checkError('message', 'minlength')">Pole powinno zawierać minimum 5 znaków</small>
                <small class="text-danger h5" *ngIf="checkError('message', 'maxlength')">Pole powinno zawierać maximum 1000 znaków</small>
              </div>
            </div>
            <div class="row" style="max-width: 10vmin">
              <button (click)="sendMail()" class="btn btn-primary" type="submit">Wyślij</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
